{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1905265_ohknpt3pw6.css">
    <title>J务管理系统</title>
<script>
function myFunction(){
    if("{{m0}}" != "请输入账号！")
    alert("用户名或密码错误!");
}
</script>
</head>
<body onload="myFunction()">
<div class="form-wrapper">
    <div class="header">
        J务管理系统
    </div>
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="input-wrapper">
            <div class="border-wrapper">
                <input type="text" name="id" class="border-item" placeholder="学工号" id="username">
            </div>
            <div class="border-wrapper">
                <input type="password" name="password" class="border-item" placeholder="密码"clear id="passwd" >
            </div>
        </div>
        <div class="action">
            <input type="submit" class="btn" value="登 录" onclick = "return check()" style="cursor:pointer">
        </div>
        <script type = "text/javascript">  
            function checkpasswd(){
                var passwd = document.getElementById("passwd")
                if(passwd.value == ""){
                    alert("密码不能为空!"); 
                    return false;
                }
                return ture
            }
            function check() {
                var username = document.getElementById("username")
                if(! /^[0-9]*$/.test(username.value)){  
                    alert("学号只能输入数字!"); 
                    return false; 
                }
                if(username.value == ""){
                    alert("学号不能为空!"); 
                    return false;
                }
                return checkpasswd()
            }
        </script>
    </form>

</div>
<p hidden>{{ m0 }}</p>
</body>
</html>