<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录/注册</title>
</head>
<body>
<form action="/login/" method="post">
    {% csrf_token %}
    学工号：
    <input type="text" name="id"><br>
    <!--        密码：<input type="password" name="password">-->
    登陆类型：<input type="radio" name="type" value="student" checked>学生
    <input type="radio" name="type" value="teacher">老师
    <input type="radio" name="type" value="manager">最终权限
    <input type="submit" value="登录">
</form>
<p>提示信息：{{ m0 }}</p>
</body>
</html>