{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1905265_ohknpt3pw6.css">
    <title>J务管理系统</title>
</head>
<body>
<div class="form-wrapper">
    <div class="header">
        J务管理系统
    </div>
    <form action="/login/" method="post">
        {% csrf_token %}
        <div class="input-wrapper">
            <div class="border-wrapper">
                <input type="text" name="id" class="border-item" placeholder="学工号" id="username">
            </div>
            <div class="border-wrapper">
                <input type="password" name="password" class="border-item" placeholder="密码"clear>
            </div>
        </div>
        <div class="action">
            <input type="submit" class="btn" value="登 录" onclick = "return check()">
        </div>
        <script type = "text/javascript">  
            function check() {
                var username = document.getElementById("username")
                if(! /^[0-9]*$/.test(username.value)){  
                    alert("学号只能输入数字!"); 
                    return false; 
                }
                if(username.value == ""){
                    alert("学号不能为空!"); 
                    return false;
                }
            }
        </script>
    </form>

</div>
<!--   <p>提示信息：{{ m0 }}</p> -->
</body>
</html>