{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>教务管理系统</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>

<ul class="nav">
    <li class="left">
        <form action="/m_top/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="首页">
        </form>
    </li>
    <li class="left">
        <form action="/m_student/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="学生管理">
        </form>
    </li>
    <li class="left">
        <form action="/m_teacher/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="教师管理">
        </form>
    </li>
    <li class="left">
        <form action="/m_department/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="院系管理">
        </form>
    </li>
    <li class="left">
        <form action="/m_course/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="课程管理">
        </form>
    </li>
    <li class="left">
        <form action="/m_plan/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="培养方案">
        </form>
    </li>
    <li class="left">
        <form action="/m_apply/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="事务审批">
        </form>
    </li>
    <li class="none">
        J务管理系统-admin
    </li>
    <li class="right">
        <form action="/top/" method="post">
            {% csrf_token %}
            <input type="submit" value="注销">
        </form>
    </li>
    <li class="right">
        当前用户：admin
    </li>
</ul>
<p>提示信息：{{m1|default:"欢迎来到教务管理系统！"}}</p>


</body>
</html>
