{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>教务管理系统</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
</head>
<body>

{% include "s_top.html" %}

<table border="1" class="altrowstable">
    <tr>
        <th>课程名</th>
        <th>授课老师</th>
        <th>开课院系</th>
        <th>学分</th>
        <th>已选人数/容量</th>
        <th>操作</th>
    </tr>
    {% for i in c_select %}
    <tr>
        <td>{{i.Cn}}</td>
        <td>{{i.Tn}}</td>
        <td>{{i.Dn}}</td>
        <td>{{i.credit}}</td>
        <td>{{i.s}}/{{i.v}}</td>
        <td>
            {% if i.s < i.v %}
            <form action="/select_c/" method="post">
                {% csrf_token %}
                <input type="hidden" name="user" value={{user.Sno}}>
                <input type="hidden" name="tc" value={{i.tid}}>
                <input type="submit" value="选课">
            </form>
            {% else %}
            已满
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>


</body>
</html>
