{% include "s_nav.html" %}

<p>已选课程：</p>
<table border="1" class="altrowstable" width="1000px">
    <tr>
        <th>课程名</th>
        <th>授课老师</th>
        <th>成绩</th>
        <th>操作</th>
    </tr>
    {% for i in c_list %}
    <tr onmouseover="this.style.backgroundColor='rgba(46, 116, 173, 0.37)';" onmouseout="this.style.backgroundColor='rgb(0, 255, 255, 0.1)';">
        <td>{{i.Cn}}</td>
        <td>{{i.Tn}}</td>
        <td>
            {% if i.end == True %}
            {% if i.free == True %}
                免修
            {% endif %}
                {{i.grade}}
            {% else %}
            未结课
            {% endif %}
        </td>
        <td>
            <form action="/sc_detail/" method="post">
                {% csrf_token %}
                <input type="hidden" name="sc" value={{i.scid}}>
                <input type="submit" value="课程详情">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
