{% include "s_nav.html" %}

<p>学生名称：{{er.Sname}}</p>
<p>学生学号：{{er.Sno}}</p>
<p>当前院系：{{er.Dname}}</p>
<hr>

<form action="/change_apply/" method="post">
    {% csrf_token %}
    <input type="hidden" name="Sno" value={{er.Sno}}>
    目标院系：
    <select name="Dno">
        {% for i in d_list %}
        <option value={{i.Dno}}>{{i.Dname}}</option>
        {% endfor %}
    </select>
    <br>
    申请理由：<br>
    <textarea rows="5" cols="15" name="reason"></textarea><br>
    <input type="submit" value="提交转系申请">
</form>

<p>须知：请在已选的本专业课全部结课之后再申请转系！</p>