{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>教务管理系统</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>

<ul class="nav">
    <li class="left">
        <form action="/top/" method="post" class="top">
            {% csrf_token %}
            <input type="hidden" value={{Sno}}>
            <input type="submit" value="首页">
        </form>
    </li>
    <li class="left">
        <form action="/s_select/" method="post" class="top">
            {% csrf_token %}
            <input type="hidden" name="Sno" value={{user.Sno}}>
            <input type="submit" value="选课">
        </form>
    </li>
    <li class="left">
        <form action="/s_course/" method="post" class="top">
            {% csrf_token %}
            <input type="hidden" name="Sno" value={{user.Sno}}>
            <input type="submit" value="已选课程">
        </form>
    </li>
    <li class="left">
        <form action="/top/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="评教">
        </form>
    </li>
    <li class="left">
        <form action="/top/" method="post" class="top">
            {% csrf_token %}
            <input type="submit" value="学籍异动">
        </form>
    </li>
    <li class="none">
        J务管理系统
    </li>
    <li class="right">
        <form action="/top/" method="post">
            {% csrf_token %}
            <input type="submit" value="注销">
        </form>
    </li>
    <li class="right">
        当前用户：{{user.Sname}}
    </li>
    <li class="right">
        <form action="/tutor_before/" method="post">
            {% csrf_token %}
            <input type="hidden" name="Sno" value={{user.Sno}}>
            <input type="submit" value="助教页面">
        </form>
    </li>

</ul>
<p>提示信息：{{m1|default:"欢迎来到教务管理系统！"}}</p>


</body>
</html>
