{% include "sc_nav.html" %}

<p>课程名称：{{C.Cname}}</p>
<p>授课教师：{{T.Tname}}</p>
<p>开课院系：{{D.Dname}}</p>
<p>课程容量：{{se}}/{{C.v}}</p>
<br>
<p>学生名称：{{S.Sname}}</p>
<p>成绩：
    {% if sc.end == True %}
    {% if sc.free == True %}
    免修
    {% endif %}
    {{sc.grade}}
    {% else %}
    未结课
    {% endif %}
</p>
</table>

<form action="/s_remark_solve/" method="post">
    {% csrf_token %}
    <input type="hidden" name="sc" value={{scid}}>
    课程总体评价：
    <input type="radio" name="p0" value=0>0
    <input type="radio" name="p0" value=1>1
    <input type="radio" name="p0" value=2>2
    <input type="radio" name="p0" value=3>3
    <input type="radio" name="p0" value=4>4
    <input type="radio" name="p0" value=5>5
    <br>
    课程专业程度：
    <input type="radio" name="p1" value=0>0
    <input type="radio" name="p1" value=1>1
    <input type="radio" name="p1" value=2>2
    <input type="radio" name="p1" value=3>3
    <input type="radio" name="p1" value=4>4
    <input type="radio" name="p1" value=5>5
    <br>
    课程生动程度：
    <input type="radio" name="p2" value=0>0
    <input type="radio" name="p2" value=1>1
    <input type="radio" name="p2" value=2>2
    <input type="radio" name="p2" value=3>3
    <input type="radio" name="p2" value=4>4
    <input type="radio" name="p2" value=5>5
    <br>
    <hr>
    老师总体评价：
    <input type="radio" name="p3" value=0>0
    <input type="radio" name="p3" value=1>1
    <input type="radio" name="p3" value=2>2
    <input type="radio" name="p3" value=3>3
    <input type="radio" name="p3" value=4>4
    <input type="radio" name="p3" value=5>5
    <br>
    老师专业程度：
    <input type="radio" name="p4" value=0>0
    <input type="radio" name="p4" value=1>1
    <input type="radio" name="p4" value=2>2
    <input type="radio" name="p4" value=3>3
    <input type="radio" name="p4" value=4>4
    <input type="radio" name="p4" value=5>5
    <br>
    老师负责程度：
    <input type="radio" name="p5" value=0>0
    <input type="radio" name="p5" value=1>1
    <input type="radio" name="p5" value=2>2
    <input type="radio" name="p5" value=3>3
    <input type="radio" name="p5" value=4>4
    <input type="radio" name="p5" value=5>5
    <br>


    课程评价：<br>
    <textarea rows="5" cols="15" name="r"></textarea><br>
    {% if hadR == True %}
    已评教
    {% elif sc.end == False %}
    未结课
    {% else %}
    <input type="submit" value="提交评价">
    {% endif %}
</form>
