{% include "s_nav.html" %}
<p>可选课程：</p>
<table border="1" class="altrowstable" width="1000px">
    <tr>
        <th>课程名</th>
        <th>授课老师</th>
        <th>开课院系</th>
        <th>学分</th>
        <th>已选人数/容量</th>
        <th>操作</th>
    </tr>
    {% for i in c_select %}
    <tr onmouseover="this.style.backgroundColor='rgba(46, 116, 173, 0.37)';" onmouseout="this.style.backgroundColor='rgb(0, 255, 255, 0.1)';">
        <td>{{i.Cn}}</td>
        <td>{{i.Tn}}</td>
        <td>{{i.Dn}}</td>
        <td>{{i.credit}}</td>
        <td>{{i.s}}/{{i.v}}</td>
        <td>
            {% if i.s < i.v %}
            <form action="/select_c/" method="post">
                {% csrf_token %}
                <input type="hidden" name="user" value={{user.Sno}}>
                <input type="hidden" name="tc" value={{i.tid}}>
                <input type="submit" value="选课" style="cursor:pointer">
            </form>
            {% else %}
            已满
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
