{% include "sc_nav.html" %}

<p>作业列表：</p>
<table border="1" class="altrowstable" width="1000px">
    <tr>
        <th>作业标题</th>
        <th>提交次数</th>
        <th>作业得分</th>
        <th>操作</th>
    </tr>
    {% for i in hw_list %}
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <td>{{i.name}}</td>
        <td>
            {{i.times_had}}/
            {% if i.times != 0 %}
            {{i.times}}
            {% else %}
            ∞
            {% endif %}
        </td>
        <td>
            {% if i.had == False %}
            未提交
            {% elif i.read == True %}
            {{i.point}}
            {% else %}
            已提交
            {% endif %}
        </td>
        <td>

            <form action="/sc_doHW/" method="post">
                {% csrf_token %}
                <input type="hidden" name="hwid" value={{i.hwid}}>
                <input type="hidden" name="Sno" value={{S.Sno}}>
                <input type="hidden" name="sc" value={{scid}}>
                <input type="submit" value="查看作业">

            </form>
        </td>
    </tr>
    {% endfor %}
</table>