
{% include "t_nav.html" %}

<div class="divleft">
<p>开设课程：</p>
<form action="/open_c/" method="post">
    {% csrf_token %}
    课程名字：
    <select name="Cno" class="cs-select cs-skin-slide">
        {% for i in cs_list %}
        <option value={{i.Cno}}>{{i.Cname}}</option>
        {% endfor %}
    </select><br>
    开课院系：
    <select name="Dno" class="cs-select cs-skin-slide">
        {% for i in d_list %}
        <option value={{i.Dno}}>{{i.Dname}}</option>
        {% endfor %}
    </select><br><br><br>
    <input type="hidden" name="user" value={{user.Tno}}>
    <input type="submit" value="开课" class="button-3d-1" style="cursor:pointer">
</form>
</div>
<br>
<div class="divright">
<p>增加课程：</p>
<div class="form">
<form action="/add_c/" method="post">
    {% csrf_token %}
    <div class="txtb">
        课程名字:<br>
        <input type="text" name="Cname" placeholder="请输入课程名">
    </div><br>
    <div class="txtb">
        课程学分：<br>
        <input type="text" name="credit" placeholder="请输入课程学分"><br>
    </div><br>
    <div class="txtb">
        课程容量：<br>
        <input type="text" name="v" placeholder="请输入课程容量">
    </div><br>
    <input type="hidden" name="user" value={{user.Tno}}>
    <input type="submit" value="增加课程" class="button-3d-1" style="cursor:pointer">
</form>
</div>
</div>
