{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>教务管理系统</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>

<ul class="nav">
    <li class="left">
        <form action="/t_top/" method="post">
            {% csrf_token %}
            <input type="hidden" name="Tno" value={{user.Tno}}>
            <input type="submit" value="已开课程">
        </form>
    </li>
    <li class="left">
        <form action="/t_add/" method="post">
            {% csrf_token %}
            <input type="hidden" name="Tno" value={{user.Tno}}>
            <input type="submit" value="开设/增加课程">
        </form>
    </li>
    <li class="left">
        <form action="/top/" method="post">
            {% csrf_token %}
            <input type="submit" value="审批事务">
        </form>
    </li>

    <li class="right">
        <form action="/top/" method="post">
            {% csrf_token %}
            <input type="submit" value="注销">
        </form>
    </li>
    <li class="right">
        当前用户：{{user.Tname}}
    </li>
</ul>
<p>提示信息：{{m1|default:"欢迎来到教务管理系统！"}}</p>


</body>
</html>
