{% include "t_nav.html" %}

<br>
<table border="1" class="altrowstable" width="1000px">
    <tr>
        <th>课程名</th>
        <th>开课院系</th>
        <th>学分</th>
        <th>选课人数/容量</th>
        <th>操作</th>
    </tr>
    {% for i in tc_list %}
    <tr onmouseover="this.style.backgroundColor='rgba(46, 116, 173, 0.37)';" onmouseout="this.style.backgroundColor='rgb(0, 255, 255, 0.1)';">
        <td>{{i.Cn}}</td>
        <td>{{i.Dn}}</td>
        <td>{{i.credit}}</td>
        <td>{{i.s}}/{{i.v}}</td>
        <td>
            <form action="/tc_detail/" method="post">
                {% csrf_token %}
                <input type="hidden" name="tc" value={{i.tid}}>
                <input type="submit" value="详情" style="cursor:pointer">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
