{% include "t_nav.html" %}

<ul class="nav2">
    <li class="left">
        <form action="/tc_detail/" method="post">
            {% csrf_token %}
            <input type="hidden" name="who" value="teacher">
            <input type="hidden" name="tc" value={{tid}}>
            <input type="submit" value="概览">
        </form>
    </li>
    <li class="left">
        <form action="/tc_addHW/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tc" value={{tid}}>
            <input type="hidden" name="who" value="teacher">
            <input type="submit" value="发布作业">
        </form>
    </li>
    <li class="left">
        <form action="/tc_lookHW/" method="post">
            {% csrf_token %}
            <input type="hidden" name="who" value="teacher">
            <input type="hidden" name="tc" value={{tid}}>
            <input type="submit" value="作业列表">
        </form>
    </li>

    <li class="left"> 
        <form action="/t_add/" method="post">
            {% csrf_token %}
            <input type="hidden" name="Tno" value={{user.Tno}}>
            <input type="submit" value="打分">
        </form>
    </li>

    <li class="left">
        <form action="/tc_free/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tc" value={{tid}}>
            <input type="submit" value="免修审批">
        </form>
    </li>
</ul>
<br>
