{% include "tc_nav.html" %}

<p>课程名称：{{C.Cname}}</p>
<p>授课教师：{{T.Tname}}</p>
<p>开课院系：{{D.Dname}}</p>
<p>课程容量：{{se}}/{{C.v}}</p>
<p>花名册：</p>
<table border="1" class="altrowstable" width="1000px">
    <tr>
        <th>姓名</th>
        <th>成绩</th>
        <th>助教聘任</th>
    </tr>
    {% for i in s_list %}
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <td>{{i.Sn}}</td>
        <td>
            {% if i.end == True %}
            {% if i.free == True %}
            免修
            {% endif %}
            {{i.grade}}
            {% else %}
            未结课
            {% endif %}
        </td>
        <td>
            {% if i.Sno in tutor_list %}
            <form action="/delete_tutor/" method="post">
                {% csrf_token %}
                <input type="hidden" name="tc" value={{tid}}>
                <input type="hidden" name="Sno" value={{i.Sno}}>
                <input type="submit" value="解任助教">
            </form>
            {% elif i.end == True %}
            <form action="/add_tutor/" method="post">
                {% csrf_token %}
                <input type="hidden" name="tc" value={{tid}}>
                <input type="hidden" name="Sno" value={{i.Sno}}>
                <input type="submit" value="设为助教">
            </form>
            {% else %}
            学习中
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>