{% include "tuc_nav.html" %}

<p>作业列表：</p>
<table border="1" border="1" class="altrowstable" width="1000px">
    <tr>
        <th>作业标题</th>
        <th>提交上限</th>
        <th>提交人数</th>
        <th>操作</th>
    </tr>
    {% for i in hw_list %}
    <tr onmouseover="this.style.backgroundColor='rgba(46, 116, 173, 0.37)';" onmouseout="this.style.backgroundColor='rgb(0, 255, 255, 0.1)';">
        <td>{{i.name}}</td>
        <td>
            {% if i.times != 0 %}
            {{i.times}}
            {% else %}
            无上限
            {% endif %}
        </td>
        <td>{{i.done}}</td>
        <td>
            <form action="/hw_detail/" method="post">
                {% csrf_token %}
                <input type="hidden" name="tc" value={{tid}}>
                <input type="hidden" name="who" value="tutor">
                <input type="hidden" name="TUno" value={{user.Sno}}>
                <input type="hidden" name="hw" value={{i.hwid}}>
                <input type="submit" value="作业详情" style="cursor:pointer">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>