{% include "tuc_nav.html" %}

<p>作业标题：{{hw.name}}</p>
<p>提交次数上限：{% if hw.times != 0 %}
    {{hw.times}}
    {% else %}
    无限制
    {% endif %}</p>
<p>已提交人数：{{done}}</p>

<p>作业内容：</p>
<p>{{hw.question}}</p>
<form action="/delete_hw/" method="post">
    {% csrf_token %}
    <input type="hidden" name="hw" value={{hw.pk}}>
    <input type="hidden" name="tc" value={{tid}}>
    <input type="hidden" name="TUno" value={{user.Sno}}>
    <input type="hidden" name="who" value="tutor">
    <input type="submit" value="删除作业" style="cursor:pointer">
</form>
<br>
<form action="/change_hw/" method="post">
    {% csrf_token %}
    <input type="hidden" name="hw" value={{hw.pk}}>
    <input type="hidden" name="tc" value={{tid}}>
    <input type="hidden" name="TUno" value={{user.Sno}}>
    <input type="hidden" name="who" value="tutor">
    <input type="submit" value="修改作业信息" style="cursor:pointer">
</form>

<hr>

<table border="1" border="1" class="altrowstable" width="1000px">
    <tr>
        <th>学生姓名</th>
        <th>提交次数</th>
        <th>作业成绩</th>
        <th>作业评阅</th>
    </tr>
    {% for i in s_hw_list %}
    <tr onmouseover="this.style.backgroundColor='rgba(46, 116, 173, 0.37)';" onmouseout="this.style.backgroundColor='rgb(0, 255, 255, 0.1)';">
        <td>{{i.Sn}}</td>
        <td>
            {{i.had_time}}
        </td>
        <td>
            {% if i.had_time == 0 %}
            未提交
            {% elif i.read == False %}
            未评阅
            {% else %}
            {{i.point}}
            {% endif %}
        </td>
        <td>
            {% if i.had_time == 0 %}
            尚未提交
            {% else %}
            <form action="/read_hw/" method="post">
                {% csrf_token %}
                <input type="hidden" name="Sno" value={{i.Sno}}>
                <input type="hidden" name="tc" value={{tid}}>
                <input type="hidden" name="TUno" value={{user.Sno}}>
                <input type="hidden" name="hw" value={{hw.pk}}>
                <input type="hidden" name="who" value="tutor">
                {% if i.read == False %}
                <input type="submit" value="评阅作业" style="cursor:pointer">
                {% else %}
                <input type="submit" value="重新评阅" style="cursor:pointer">
                {% endif %}
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>