{% include "s_nav.html" %}

<ul class="nav2">
    <li class="left">
        <form action="/tuc_detail/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tc" value={{tid}}>
            <input type="hidden" name="who" value="tutor">
            <input type="hidden" name="TUno" value={{user.Sno}}>
            <input type="submit" value="概览">
        </form>
    </li>
    <li class="left">
        <form action="/tc_addHW/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tc" value={{tid}}>
            <input type="hidden" name="who" value="tutor">
            <input type="hidden" name="TUno" value={{user.Sno}}>
            <input type="submit" value="发布作业">
        </form>
    </li>
    <li class="left">
        <form action="/tc_lookHW/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tc" value={{tid}}>
            <input type="hidden" name="who" value="tutor">
            <input type="hidden" name="TUno" value={{user.Sno}}>
            <input type="submit" value="作业列表">
        </form>
    </li>
    <li class="left">
        <form action="/tu_judge_daily/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tc" value={{tid}}>
            <input type="hidden" name="who" value="tutor">
            <input type="hidden" name="TUno" value={{user.Sno}}>
            <input type="submit" value="打平时分">
        </form>
    </li>
</ul>
<br>
