
body {
    /*background-color:white;*/
    background-color: rgb(0, 255, 255, 0.1);
    text-align:center;
    /*background-image:url(../pic/background-image.jpeg);*/
}

table {
    text-align:center;
}