/* Kuro */
.input-kuro {
	max-width: 320px;
	margin-bottom: 3em;
}

.input__field-kuro {
	width: 100%;
	background: transparent;
	color: #9196A1;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label-kuro {
	position: absolute;
	left: 0;
	width: 100%;
	color: #df6589;
	pointer-events: none;
}

.input__label-kuro::before,
.input__label-kuro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border: 4px solid #747981;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-kuro::before {
	border-right: none;
}

.input__label-kuro::after {
	left: 50%;
	border-left: none;
}

.input__field-kuro:focus,
.input--filled .input__field-kuro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field-kuro:focus + .input__label-kuro::before,
.input--filled .input__label-kuro::before {
	-webkit-transform: translate3d(-10%, 0, 0);
	transform: translate3d(-10%, 0, 0);
}

.input__field-kuro:focus + .input__label-kuro::after,
.input--filled .input__label-kuro::after {
	-webkit-transform: translate3d(10%, 0, 0);
	transform: translate3d(10%, 0, 0);
}

.input__field-kuro:focus + .input__label-kuro .input__label-content-kuro,
.input--filled .input__label-content-kuro {
	-webkit-animation: anim-2 0.3s forwards;
	animation: anim-2 0.3s forwards;
}

@-webkit-keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}

@keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}

.button-3d-1{
    position: relative;
    background: #2e74ad;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    outline: none;
    box-shadow: -6px 6px 0 #1c5380;
}

.button-3d-1::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -6px;
    border: 6px solid transparent;
    border-right: 6px solid #1c5380;
    border-left-width: 0px;
  }
  
  .button-3d-1::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -6px;
    right: 0;
    border: 6px solid transparent;
    border-top: 6px solid #1c5380;
    border-bottom-width: 0px;
  }

  .button-3d-1:active {
    background: #2e74ad;
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #1c5380;
  }

  .button-3d-1:active::before {
    border: 3px solid transparent;
    border-right: 3px solid #1c5380;
    border-left-width: 0px;
    left: -3px;
  }
  
  .button-3d-1:active::after {
    border: 3px solid transparent;
    border-top: 3px solid #1c5380;
    border-bottom-width: 0px;
    bottom: -3px;
  }
  

.form .txtb {
    left: 20px;
    border: 1px solid rgba(20, 20, 156, 0.452);
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 10px;
    width: 420px;
}

.txtb label {
    display: block;
    text-align: left;
    color: rgba(20, 20, 156, 0.452);
    font-size: 14px;
}


/*备注框样式*/
.txtb input,
.txtb textarea {
    width: 420px;
    background: none;
    border-radius: none;
    border-width: none;
    border-color: rgb(0, 255, 255, 0.1);
    outline: none;
    margin-top: 6px;
    font-size: 18px;
    color: black;
}

/*提交按钮样式*/
.btn-up {
    display: block;
    /* background-color: rgba(156, 39, 176, .5); */
    padding: 14px 0;
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 10px;
}