table {
    margin:0px auto;
}

table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:20px;
    color:black;  /*font color*/
    border-width: 2px;
    border-color: rebeccapurple;
    border-collapse: collapse;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#d4e3e5;
}
.evenrowcolor{
    background-color:#c3dde0;
}


table.table {
    font-family: verdana,arial,sans-serif;
    font-size:20px;
    color:#333333;
    border-width: 1px;
    border-color: rebeccapurple;
    border-collapse: collapse;
}
table.table th {
    background-color:#5980fd;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
table.table tr {
    background-color:#d4e3e5;
}
table.table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table form input{
    font-size: 20px;
    border:none;
    border-radius:0;
    border-bottom:none 1px solid;
    box-shadow: 0px 0px 0px 0px;
    outline-color: none ;
    outline-style: none ;
    outline-width: 0px ;
    border: none ;
    border-style: none ;
    box-shadow: 0px 0px 0px 0px;
    text-shadow: none ;
    -webkit-box-shadow: 0 0 0 ;
    -webkit-appearance: none ;
    -webkit-user-select: text ;
    outline-color: none ;
    box-shadow: none;
    background: transparent;
}

