# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Data\BUAA_2020_DB_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
